Submission/venv
Deep-Learning/Proyek_Klasifikasi_Gambar/multi_class_weather_dataset
Deep-Learning/Proyek_Klasifikasi_Gambar/weather_dataset_split
SkillAlign-AI/Dataset/
SkillAlign-AI/Spec/
SkillAlign-AI/Steering/
SkillAlign-AI/venv/
SkillAlign-AI/src/__pycache__
SkillAlign-AI/src/*/__pycache__